@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(39, 43, 51);
}

header{
  width: 80%;
  margin: 0 auto;
}

h1{
  color: #fff;
}

#app{
  width: 80%;
  margin: 0 auto;
}
#app .users{
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search{
  display: flex;
  margin-bottom: 20px;
}
.search input{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border: none;
  padding: 5px 10px;
}
.search button{
  border: none;
  font-size: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  padding-right: 10px;
}

.users div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(60, 62, 68);
  padding: 0 0 10px 0;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 0 10px 20px 10px;
}

.users div img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.users div p{
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  color: #fff;
}
.users div p:hover{
  color: orange;
}


.details{
  display: flex;
  background-color: rgb(60, 62, 68);
  width: 100%;
  border-radius: 20px;
}

.details img{
  width: 200px;
  height: 200px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.details .infos{
  width: 100%;
  padding-left: 10px;
}
.details .infos .row{
  display: flex;
}