@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(39, 43, 51);
  padding-top: 130px;
  padding-bottom: 20px;
}

header{
  width: 80%;
  margin: 0 auto;
}

nav{
  width: 100%;
  background-color: rgb(60, 62, 68);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  z-index: 999;
}
nav .wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .wrapper ul{
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 50px;
  width: 100%;
}
nav .wrapper ul li{
  margin-right: 25px;
}
nav .wrapper ul li button{
  background-color: rgb(60, 62, 68);
  border: none;
  font-size: 18px;
  color: rgb(245, 245, 245);
  font-weight: 600;
  cursor: pointer;
}
nav .wrapper ul li button:hover{
  color: orange;
}

h1{
  color: #fff;
}

h2{
  color: #fff;
}

#app{
  width: 80%;
  margin: 0 auto;
}
#app .users{
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.clickable:hover{
  cursor: pointer;
  color: orange !important;
}
.menu{
  display: none;
  width: 50px;
  margin-left: auto;
  filter: brightness(0) invert(1);
}

/* .menu-mobile{
  position: absolute;
  top: ;
} */

@media screen and (max-width: 937px){
  .search{
    display: none!important;
  }

  ul{
    display: none!important;
  }

  .menu{
    display: block;
  }
}
@media screen and (max-width: 900px){
  #app .users{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 680px){
  .details{
    flex-direction: column;
    padding: 0!important;
    width: 100%!important;
    margin: 0 auto;
  }

  .details img{
    width: 100%!important;
    border-bottom-left-radius: 0px!important;
    border-top-right-radius: 20px;
  }
}
@media screen and (max-width: 650px){
  #app .users{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px){
  #app .users{
    grid-template-columns: repeat(1, 1fr);
  }

  h1{
    font-size: 25px;
  }
}

.search{
  display: flex;
}
.search input{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  border: none;
  padding: 5px 10px;
  outline: none;
}
.search button{
  border: none;
  font-size: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  padding-right: 10px;
}

.users div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(60, 62, 68);
  padding: 0 0 10px 0;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 0 10px 20px 10px;
}

.users div img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.users div p{
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}
.users div p:hover{
  color: orange;
}


.details{
  display: flex;
  background-color: rgb(60, 62, 68);
  width: 100%;
  border-radius: 20px;
  cursor: default;
  width: fit-content;
  padding-right: 50px;
}

.details img{
  width: 200px;
  height: 200px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  object-fit: contain;
}

.details .infos{
  width: 100%;
  padding: 10px 0 10px 15px;
}
.details .infos .row{
  display: flex;
}
.details .infos h2{
  color: rgb(245, 245, 245);
  font-weight: 800;
}

.details .infos .row p{
  display: flex;
}
.details .infos .row p.status{
  align-items: center;
  flex-direction: row-reverse;
  color: rgb(245, 245, 245);
  font-size: 14px;
  margin-top: -3px;
  margin-bottom: 15px;
  font-weight: 500;
}

.details .infos .row p .green{
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-right: 5px;
}

.details .infos .row p .red{
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
}

.details .infos .row p .grey{
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 5px;
}

.details .infos .column p{
  display: flex;
  flex-direction: column;
}

.details .infos .column p.subtitle{
  color: rgb(158, 158, 147);
  font-weight: 500;
  font-size: 16px;
}
.details .infos .column p.subtitle span{
  color: rgb(245, 245, 245);
  font-size: 17px;
  font-weight: 500;
}

.details .infos .column:last-child{
  margin-top: 15px;
}

.pagination-next{
  background-color: rgb(60, 62, 68);
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}

.pagination-prev{
  background-color: rgb(60, 62, 68);
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 15px;
}


.locations{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 700px){
  .locations{
    grid-template-columns: repeat(1, 1fr);
  }
}

.location{
  background-color: rgb(60, 62, 68);
  margin: 0 10px 20px 10px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.location:hover{
  cursor: pointer;
}

.location .p1, .location .p2, .location .p3{
  position: relative;
  padding-left: 18px;
  color: rgb(245, 245, 245);
  font-weight: 600;
}
.location .p1::before{
  content: '📍';
  position: absolute;
  left: -6px;
}

.location .p2::before{
  content: '🌌';
  position: absolute;
  left: -6px;
}

.location .p3::before{
  content: '🏡';
  position: absolute;
  left: -6px;
}